.bgAnimation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background: #1d1d1d;
    filter: saturate(2);
    overflow: hidden;
    z-index: 0;
}

.colorBox {
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: #1d1d1d;
}

.colorBox:hover {
    background: #00bfff;
    transition-duration: 0s;
}

.backgroundAmim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #00bfff;
    filter: blur(60px);
    animation: animBack 6s linear infinite;
    z-index: 0;
}

@keyframes animBack {
    0% {
        top: -60px;
    }
    100% {
        top: 120%;
    }
}

.text-center {
    color: white;
    position: relative;
    z-index: 1;
    margin-top: 5rem;
}

.text-center img {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 300px;
}

.text-center h1 {
    border-radius: 10px;
    padding: 10px 20px;
    display: inline-block;
    font-family: 'Gajraj One', sans-serif;
    color: #fff;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}

.typing-animation {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #fff;
    color: #fff;
    animation: typing 3.5s steps(40, end) 1s both, blink .75s step-end infinite;
    position: relative;
    z-index: 1;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

.navbar {
    border-bottom: 2px solid #000;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    position: relative;
    z-index: 1000;
}

.navbar-nav .nav-link {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 0 5px;
    color: #000000;
    position: relative;
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.navbar-nav .nav-item:hover .nav-link {
    background-color: #000000;
    color: #ffffff;
    border-color: #ffffff;
}

.navbar-nav .nav-item .nav-link.active {
    background-color: #000000;
    color: #ffffff;
    border-color: #ffffff;
}

.dropdown-menu .dropdown-item {
    color: #000000;
    position: relative;
    z-index: 1000;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #000000;
    color: #ffffff;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
    background-color: #000000;
    color: #ffffff;
}

.navbar-expand-lg {
    background-color: transparent;
    position: relative;
    z-index: 1000;
}

.navbar-brand {
    font-family: '8BIT WONDER', sans-serif;
    position: relative;
    z-index: 1000;
}

.navbar-nav {
    justify-content: center;
    position: relative;
    z-index: 1000;
}

.slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    position: absolute;
    width: 650px;
    height: 300px;
    text-align: center;
    background-color: #fff;
    border-radius: 90px;
    padding: 20px;
    transition: 0.5s;
    margin-top: 50px;
    transform: translateX(-50%);
}

.item h1 {
    font-size: 30px;
}

.item h2 {
    font-size: 20px;
}

.item p {
    font-size: 15px;
    text-align: center;
}

#next, #prev {
    position: absolute;
    top: 50%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 2em;
    font-family: monospace;
    font-weight: bold;
    transform: translateY(-50%);
}

#prev {
    left: 300px;
}

#next {
    right: 300px;
}

.mt-5 h1 {
    align-items: center;
}

.container {
    padding: 0;
}

.container .col-md-8 {
    background-color: transparent;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'PF Din Text Universal', sans-serif;
    position: relative;
    z-index: 1000;
}

.container .col-md-8 h2 {
    font-family: 'Panton Black Caps', sans-serif;
    font-weight: bold;
    color: #fff;
    position: relative;
    z-index: 1000;
}

.container .col-md-8 p {
    font-family: 'PF Din Text Universal', sans-serif;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #000000;
    position: relative;
    z-index: 1000;
}

.col-md-4 {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-4 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.about-page-img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    z-index: 1000;
}

.container .row .col-md-4 a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .row .col-md-4 ion-icon {
    font-size: 80px;
}

.container h1, .container h4 {
    color: white;
}

.container p {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    color: #000000;
    margin: 20px auto;
    max-width: 800px;
    position: relative;
    z-index: 1000;
}

.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    max-width: 100%;
    display: block;
    width: 100%;
}

button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    transform: translateY(-50%);
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

@media (max-width: 768px) {
    .container .col-md-4 {
        max-width: 100%;
    }

    #prev, #next {
        font-size: 1.5em;
    }
}
